doctype html
html
  head
    title D - GUI
    //- script(src='/build/closeWindow.js')
  body
    svg#hexagon(viewBox="0 0 2 3" type="button" height=2*size width=3*size xmlns="http://www.w3.org/2000/svg" onclick="window.close();")
        polygon(points="0,1 1,2 2,2 3,1 2,0 1,0")